<!DOCTYPE html>
<html>
<head>
    <title>Registro</title>
    <link rel="stylesheet" href="/static/register.css">
</head>
<body>
    <h1>Registro de Usuario</h1>
    <form method="POST" action="/register">
        <input type="text" name="nombre" placeholder="Nombre" required>
        <input type="email" name="correo" placeholder="Correo" required>
        <input type="password" name="contrasena" placeholder="Contraseña" required>
        <input type="number" name="telefono" placeholder="Teléfono">
        
        
        <label for="tipo_usuario">Tipo de Usuario:</label>
        <select name="tipo_usuario" id="tipo_usuario" required>
            <option value="ciudadano">Ciudadano</option>
            <option value="jac">JAC</option>
            <option value="admin">Administrador</option>
        </select>

        <label for="id_junta">¿De qué Junta de Acción Comunal vienes? (solo si eres JAC):</label>
        <select name="id_junta" id="id_junta">
            <option value="">-- Selecciona una JAC --</option>
            <option value="1">Junta Los Pinos</option>
            <option value="2">Junta La Esperanza</option>
            <option value="3">Junta El Porvenir</option>
            <option value="4">Junta San Miguel</option>
            <option value="5">Junta Villa Nueva</option>
            <option value="6">Junta La Paz</option>
            <option value="7">Junta Nueva Esperanza</option>
            <option value="8">Junta El Recuerdo</option>
            <option value="9">Junta San Rafael</option>
            <option value="10">Junta Buenavista</option>
        </select>
        <input type="date" name="fecha_registro" placeholder="fecha_registro">
        <button type="submit">Registrarse</button>
        <a href="/templates/login.html">Ya tienes cuenta ?</a>
    </form>
</body>
</html>
